body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.selection {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.selection:hover {
    font-size: 9vh;
}